.products-table-container {
    display: flex;
    flex-direction: column;
}

.container-button {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

h3 {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 64px;

}